<div class="page-title">
    <h2>Registration for Event "<%= event.title %>"</h2>
</div>

<form action="/register" method="POST">
    <input type="hidden" name="event" value="<%= event.id %>">
    <div class="form-section">
        <label for="full-name">Full Name</label>
        <input type="text" id="full-name" name="name" value="<%= name %>" required>
    </div>
    <div class="form-section">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" value="<%= email %>" required>
    </div>
    <div class="form-section form-section-last">
        <label for="dob">Date of birth</label>
        <input type="date" id="dob" name="dob" value="<%= dob %>" required>
    </div>
    <p>Where did you hear about this event?</p>
    <div class="form-radio-section">
        <div>
            <input type="radio" id="social" name="source" value="Social media" required>
            <label for="social">Social media</label>
        </div>
        <div>
            <input type="radio" id="friends" name="source" value="Friends">
            <label for="friends">Friends</label>
        </div>
        <div>
            <input type="radio" id="myself" name="source" value="Found myself">
            <label for="myself">Found myself</label>
        </div>
    </div>
    <div class="btns-container">
        <a class="btn" href="/">Cancel</a>
        <button class="btn btn-primary" type="submit">Register</button>
    </div>
</form>